ion-content {
  --ion-background-color: #333232;
}
ion-list {
  background: var(--ion-item-background, var(--ion-background-color, #222428));
}

.fixedLabel {
  min-width: 100% !important;
  max-width: 100% !important;
}
