ion-content {
    --ion-background-color: #333232;
}

.click{
  width: 100%; height: auto; 
  background-color: #3E3E3E; 
  border-radius: 10px;
  color: #fff;
}
.onclick{
  width: 100%; height: auto; 
  background-color: #05b7d7; 
  border-radius: 10px;
  color: #fff;
}

.click2{
  width: 100%; height: auto; 
  background-color: #3E3E3E; 
  border-radius: 10px;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #fff;
  color: black;
 
  padding: 0.5rem 1rem;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 121px;
  text-align: center;
}


input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #05b7d7; color: white; border-color:#05b7d7;
}

.click22{
  --background: white;

}
.onclick2{
  --background: #05b7d7;
  color: white;
}