ion-list {
  background: var(--ion-item-background, var(--ion-background-color, #222428));
}
ion-item {
  --highlight-color-focused: rgb(17, 221, 119);
}
.item-has-focus .label-stacked.sc-ion-label-md-h {
  color: var(--ion-color-light);
}
.item-has-focus .label-stacked.sc-ion-label-ios-h {
  color: var(--ion-color-light);
}
.error-messages {
  font-size: 0.7em;
  color: red;
  text-align: center;
}
