<ion-content class="login-content" padding color="dark">
  <ion-list no-border color="dark">
    <ion-list-header color="dark"></ion-list-header>

    <ion-select
      placeholder="{{ language.language }}"
      (ionChange)="changeLanguage()"
      [(ngModel)]="lan"
      color="dark"
      class="selector"
    >
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
    </ion-select>
  </ion-list>
  <div text-center>
    <img width="160" height="160" src="../../../assets/icon/haskyworker.png" />
    <br /><br /><br /><br />
    <ion-item style="border-radius: 12px;">
    <ion-input
      type="email"
      class="txt"
      placeholder="{{ language.email }}"
      [(ngModel)]="email"
    ></ion-input>
  </ion-item>
    <br />
    <ion-item style="border-radius: 12px;">
      <ion-input 
        [type]="passwords"
        class="txt"
        placeholder="{{ language.password }}"
        [(ngModel)]="password"
      >
      </ion-input>
      <ion-icon *ngIf="valor == 0" name="eye" color="dark" (click)="viewPassword()"></ion-icon>
      <ion-icon *ngIf="valor == 1" name="eye-off" color="dark" (click)="viewPassword()"></ion-icon>
    </ion-item>
  </div>
  <ion-button
    class="log-in-button"
    color="success"
    expand="block"
    (click)="Login()"
  >
    {{ language.login }}
  </ion-button>
  <ion-button hidden
    class="log-in-button"
    color="success"
    expand="block"
    (click)="test()"
  >
    test
  </ion-button>

  <div class="texto">
    ---------- {{language.or}} ----------
  </div>
  <ion-button
    class="log-in-button"
    color="primary"
    expand="block"
    (click)="doFbLogin()"
    hidden
  >
    {{ language.facebook }}
  </ion-button>
  <ion-button
    class="log-in-button"
    color="primary"
    expand="block"
    (click)="test()"
    hidden
  >
    {{ language.facebook }}
  </ion-button>
  <div class="texto">
    {{ language.account }}
    <strong
      ><a (click)="signup()">{{ language.create }}</a></strong
    >
  </div>
  <div class="texto">
    
    <strong
      ><a (click)="passwordf()">{{language.forgot}}</a></strong
    >
  </div>
</ion-content>
