.login-content {
  --background: black;
}

.logo {
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.description {
  color: white;
  font-size: 22px;
  text-align: center;
}

.log-in-button {
  margin-top: 30px;
  font-weight: bold;
}
.selector {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: white;
  width: 100% !important;
  max-width: 100% !important;
  justify-content: center;
  background-color: #222428;
  text-align: center;
}
.list {
  background: var(--ion-item-background, var(--ion-background-color, #222428));
}
ion-list {
  background: var(--ion-item-background, var(--ion-background-color, #222428));
}

.txt {
  border-color: red !important;
  background-color: #fff;
  color: black;
  border-radius: 5px;
}
h4 {
  margin-left: 30%;
}
.texto {
  padding-top: 20px;
  width: 100% !important;
  text-align: center;
}
